* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #edfffd;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.first-div {
  width: 100%;
  max-width: 460px;
  height: auto;
  margin-top: 4rem;
}

/* Styling the first div content */
form {
  background-color: #ffffff;
  padding: 1.5rem;
}

img {
  width: 77px;
  height: 80px;
  margin-bottom: 20px;
  margin-left: -10px;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.paragraph-desktop,
.paragraph-mobile {
  color: #737373;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

button {
  background-color: #2ec4b6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Inner-form styling */
.name,
.options,
.units {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 25px;
}

.label-group {
    display: flex;
    align-items: center;}

label {
  font-size: 14px;
  font-weight: 600;
  line-height: 35px;
}

input,
#dropdown,
#activity,
#password,
button {
  width: 100%;
  height: 48px;
  margin-bottom: 25px;
}

span a {
  color: #2ec4b6;
}

/* Media Query for Larger Screens */
@media only screen and (min-width: 769px) {
    section {
        grid-template-columns: 2fr 2fr;
        padding: 6rem;
    }

    .first-div {
        width: 460px;
        margin-top: 0; 
    }

    .second-div {
        margin-top: 0; }

    .paragraph-desktop {
        display: block;
    }

    .paragraph-mobile {
        display: none;
    }

    /* Adjusted styling for input elements in desktop view */
    .name,
    .options,
    .units,
    .active,
    .pass {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    input,
    #dropdown,
    select,
    #activity,
    #password,
    button {
        width: 100%;
        height: 48px;
        margin-bottom: 15px;
    }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    section {
        grid-template-columns: 1fr; 
        padding: 1rem;
    }

    .first-div {
        margin-top: 2rem;
    }

    .paragraph-desktop {
        display: none; 
    }

    .paragraph-mobile {
        display: block; 
    }

    /* Adjusted styling for input elements in mobile view */
    .name,
    .options,
    .units,
    .active,
    .pass {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    input,
    #dropdown,
    select,
    #activity,
    #password,
    button {
        width: 100%;
        height: 48px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .input-group {
        margin-bottom: 15px;
      }
    
      #activity,
      #password {
        width: 100%;
      }
}